X-Receiver:DCL:egifDCL@bofaDCL.bankofamerica.com
X-Receiver:PPEA:egif.ppEA@bankofamericaprod.us2.proofpointarchiving.net
ActiveSYMChat:Symphony:X-Proofpoint-ArchiveActiveSymphonyChat-Participant
BBBACAddress:Bloomberg MSGXML:X-Proofpoint-BloombergBACAddress
PPEA-TYPE:ADATTY:Email
PPEA-TYPE:Beacon:Email
PPEA-TYPE:BulkEmail:Email
PPEA-TYPE:CaseManager:Email
PPEA-TYPE:Citadel:Email
PPEA-TYPE:ClientVault:Email
PPEA-TYPE:CommCentral:Email
PPEA-TYPE:Compmail:Email
PPEA-TYPE:Confluence:Email
PPEA-TYPE:CopyTalk:Email
PPEA-TYPE:DocuSign:Email
PPEA-TYPE:ERS:Email
PPEA-TYPE:FactSet:Email
PPEA-TYPE:FileBox:Email
PPEA-TYPE:IntraLinks:Email
PPEA-TYPE:LinkedInInMail:Email
PPEA-TYPE:MarketingCloud:Email
PPEA-TYPE:MarshallWace:Email
PPEA-TYPE:Salesforce:Email
PPEA-TYPE:SalesNote:Email
PPEA-TYPE:SMC:Email
PPEA-TYPE:SharePoint:Email
PPEA-TYPE:SharePoint Research:Email
PPEA-TYPE:SharePointResearch:Email
PPEA-TYPE:SyndTrak:Email
PPEA-TYPE:TOPIdeas:Email
PPEA-TYPE:YouDevise:Email
PPEA-TYPE:Vesel:Email
PPEA-TYPE:InventorLink:Email
PPEA-TYPE:DebtDomain:Email
PPEA-TYPE:GlobalEmployeeNetwork:Email
PPEA-TYPE:Taskize:OtherChatIM
PPEA-TYPE:BBText:MobileText
PPEA-TYPE:BlackberrySMS:MobileText
PPEA-TYPE:BlackberryPIN:MobileText
PPEA-TYPE:cellTrust:MobileText
PPEA-TYPE:CRDCTR:MobileText
PPEA-TYPE:MobileGuard:MobileText
PPEA-TYPE:Bloomberg MSGXML:BloombergEmail
PPEA-TYPE:BBChat:BloombergChat
PPEA-TYPE:Bloomberg IBXML:BloombergChat
PPEA-TYPE:Bloomberg IBML2:BloombergChat
PPEA-TYPE:Chatalyst:OtherChatIM
PPEA-TYPE:FastStart:OtherChatIM
PPEA-TYPE:FXConnect:OtherChatIM
PPEA-TYPE:GroupChat:OtherChatIM
PPEA-TYPE:Mattermost:OtherChatIM
PPEA-TYPE:MayIText:OtherChatIM
PPEA-TYPE:PowWow:OtherChatIM
PPEA-TYPE:ReutersDealing:OtherChatIM
PPEA-TYPE:Skype:OtherChatIM
PPEA-TYPE:Symphony:OtherChatIM
PPEA-TYPE:ThomsonReuters:OtherChatIM
PPEA-TYPE:TouchCommerce:OtherChatIM
PPEA-TYPE:WeChat:OtherChatIM
PPEA-TYPE:YellowJacket:OtherChatIM
PPEA-TYPE:YieldBroker:OtherChatIM
PPEA-TYPE:Connections:Social
PPEA-TYPE:LinkedIn:Social
PPEA-TYPE:Facebook:Social
PPEA-TYPE:Twitter:Social
PPEA-TYPE:Accuroute:Fax
PPEA-TYPE:Fax2Mail:Fax
PPEA-TYPE:RightFax:Fax
PPEA-TYPE:NYSEHandheld:Other
PPEA-TYPE:Genesys:OtherChatIM
PPEA-TYPE:GEMINI:Email
PPEA-TYPE:VirtualAssistant:OtherChatIM